<?xml version="1.0" encoding="UTF-8"?>
<dhmp_config>
	<client>
		<log_level>6</log_level>
	</client>

	<watcher>
		<addr>127.0.0.1</addr>
        <port>3333</port>
	</watcher>

	<!-- node14 -->
	<!-- <server id="1">
	     		<nic_name>ib0</nic_name>
		<addr>10.10.1.5</addr>
		<port>39300</port>
		<dram_node>0</dram_node>
		<nvm_node>2</nvm_node>
	</server> -->

	<server id="0">
		<nic_name>ib0</nic_name>
		<addr>10.10.10.1</addr>
		<port>31415</port>
		<dram_node>0</dram_node>
	</server>

	<server id="1">
		<nic_name>ib0</nic_name>
		<addr>10.10.10.2</addr>
		<port>31416</port>
		<dram_node>0</dram_node>
	</server>

	<server id="2">
          <nic_name>ib0</nic_name>
          <addr>10.10.10.3</addr>
          <port>31417</port>
          <dram_node>0</dram_node>
      </server>


         <server id="3">
                <nic_name>ibp175s0</nic_name>
                <addr>10.10.10.4</addr>
                <port>31420</port>
                <dram_node>0</dram_node>
        </server>


</dhmp_config>
